<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-block">
						<h3>Mittleres Löschfahrzeug (MLF)</h3>
						<p>
							<strong>Indienststellung des neuen Mittleren Löschfahrzeuges (MLF)</strong>
						</p>
						<p>
							Nach der feierlichen Übergabe der MLF am 17. Mai 2014 und mit Abschluss der letzten Überprüfungen durch das Amt für Brandschutz, Rettungsdienst und Katastrophenschutz konnten wir unser neues Löschfahrzeug am 03. Juni 2014 in den Dienst stellen. Mit einem lachenden Auge, auf Grund der Vorfreude auf das neue Fahrzeug, und einem weinenden Auge, Abschied von unserem TSF-W nehmen zu müssen, tauschten wir die Fahrzeuge im Amt 37. Wir hoffen das neue MLF wird uns ebenso treue Dienste leisten wie es das TSF-W die vergangenen 20 Jahre getan hat.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section></section>

{{outlet}}
