
//
// Card

.card {
	background-color: darken($body-bg, $color-offset-default / 4);
	margin-bottom: $space-default * 4;

	.fa {
		margin-right: $space-default;
	}

	&.current-month {

		.card-body {
			background-color: darken($color-info, 0%);
			color: lighten($text-color-default, 100%);
		}

	}

}
