{{outlet}}

{{ui-slick slides=model.headerSlides}}

<section class="container">

	<h2>Satzung</h2>
  <p>Stand vom 29.01.2011</p>

	<h3>§1 Name, Sitz, Geschäftsjahr</h3>
	<ol>
    <li>
      Der Verein trägt den Namen: Förderverein der Freiwilligen Feuerwehr Erfurt-Molsdorf. Er soll in das Vereinsregister eingetragen werden, nach der Eintragung lautet der Name: Förderverein der Freiwilligen Feuerwehr Erfurt-Molsdorf e.V. nachstehend Förderverein genannt.
    </li>
    <li>
      Der Förderverein ist politisch und religiös neutral.
    </li>
    <li>
      Sitz des Fördervereins ist Erfurt-Molsdorf.
    </li>
    <li>
      Erfüllungsort und Gerichtsstand ist am eingetragenen Sitz des Fördervereins.
    </li>
    <li>
      Das Geschäftsjahr ist das Kalenderjahr. Das erste Geschäftsjahr ist ein Rumpfgeschäftsjahr vom Tage der Eintragung bis zum 31.12.2001.
    </li>
	</ol>

	<h3>§2 Zweck des Fördervereins</h3>
	<ol>
    <li>
      Der Förderverein hat die Aufgabe, den Feuerwehrgedanken nach den geltenden Gesetzen über den Brandschutz, die Allgemeine Hilfe und den Katastrophenschutz zu fördern. Diese Zielsetzung wird insbesondere verwirklicht:
    </li>
    <ol type="a">
      <li>
        durch ideelle und materielle Unterstützung des Feuerwehrwesens im Ortsteil Erfurt-Molsdorf,
      </li>
      <li>
        durch die Wahrnehmung der Interessen der Feuerwehr und ihrer Angehörigen,
      </li>
      <li>
        durch die Betreuung der nicht mehr aktiv tätigen Feuerwehrleute,
      </li>
      <li>
        durch Beratung der Aufgabenträger in Fragen des Brandschutzes, der Allgemeinen Hilfe und des Katastrophenschutzes,
      </li>
      <li>
        durch Öffentlichkeitsarbeit und Anregungen aller Art.
      </li>
    </ol>
    <li>
      Der Förderverein unterstützt finanziell und personell das geistig-kulturelle Leben im Ortsteil Erfurt-Molsdorf insbesondere bei der Wahrung dörflicher Traditionen sowie der Kinder- und Jugendarbeit. Im Rahmen seiner Satzung arbeitet der Förderverein mit anderen im Ortsteil tätigen gemeinnützigen Vereinen zusammen. 
    </li>
	</ol>

	<h3>§3 Gemeinnützigkeit</h3>
	<ol>
    <li>
      Der Förderverein verfolgt ausschließlich und unmittelbar gemeinnützige Ziele im Sinne des Abschnittes „Steuerbegünstigte Zwecke“ der Abgabenordnung.
    </li>
    <li>
      Der Förderverein ist selbstlos tätig und fördert nicht in erster Linie eigenwirtschaftliche Zwecke.
    </li>
    <li>
      Die Mittel des Fördervereins dürfen nur für die satzungsmäßigen Ziele verwendet werden. Die Mitglieder erhalten keine Zuwendungen aus den Mitteln des Fördervereins.
    </li>
    <li>
      Es darf keine Person durch Ausgaben, die dem Zweck des Fördervereins fremd sind oder durch unverhältnismäßig hohe Vergütungen begünstigt werden.
    </li>
	</ol>

	<h3>§4 Vereinsarbeit</h3>
	<ol>
    <li>
      Zur Erfüllung seiner Aufgaben führt der Förderverein geschlossene Veranstaltungen und Schulungen durch.
    </li>
    <li>
      Der Förderverein unternimmt Aktionen zur Wahrung und Pflege von Feuerwehrtraditionen.
    </li>
    <li>
      Der Förderverein führt geeignete Maßnahmen zur stetigen Verbesserung der Öffentlichkeitsarbeit und zur Verbreitung des Feuerwehrgedankens durch.
    </li>
	</ol>

	<h3>§5 Mitgliedschaft</h3>
	<ol>
    <li>
      Dem Förderverein können angehören:
    </li>
    <ol type="a">
      <li>
        Feuerwehrangehörige,
      </li>
      <li>
        nicht mehr aktiv tätige Feuerwehrleute,
      </li>
      <li>
        Ehrenmitglieder,
      </li>
      <li>
        fördernde Mitglieder und
      </li>
      <li>
        Mitglieder der Jugendfeuerwehr.
      </li>
    </ol>
    <li>
      Nicht mehr aktiv tätige Feuerwehrleute sind solche Personen, die Feuerwehrangehörige gewesen sind und die Altersgrenze erreicht haben oder vorher auf eigenen Wunsch und ehrenhaft aus dem Dienst ausgeschieden sind.
    </li>
    <li>
      Ehrenmitglieder sind natürliche Personen, die sich besondere Verdienste um das Feuerwehrwesen erworben haben. Ehrenmitglieder werden auf Vorschlag des Vorstandes von der Mitgliederversammlung ernannt.
    </li>
    <li>
      Fördernde Mitglieder können unbescholtene natürliche oder juristische Personen sein, die durch ihren Beitritt ihre Verbundenheit mit der Feuerwehr bekunden wollen.
    </li>
    <li>
      Wahlberechtigte sind Mitglieder mit vollendetem 16. Lebensjahr und wählbar sind Mitglieder mit vollendetem 18. Lebensjahr.
    </li>
	</ol>

	<h3>§6 Erwerb der Mitgliedschaft </h3>
	<ol>
    <li>
      Mitglieder des Fördervereins können natürliche und juristische Personen werden, sofern ihre Mitgliedschaft nicht den Zwecken des Fördervereins zuwider läuft.
    </li>
    <li>
      Voraussetzung für den Erwerb der Mitgliedschaft ist ein Aufnahmeantrag, über den der Vorstand des Fördervereins entscheidet. Bei Ablehnung des Antrages ist dieser nicht verpflichtet dem Antragsteller die Gründe mitzuteilen. Die Mitgliedschaft beginnt mit dem Eingang der ersten Beitragszahlung. Die erste Beitragszahlung ist als Jahresbeitrag für das Jahr zu entrichten, ab dem Monat in dem der Erwerb der Mitgliedschaft erfolgt. Die Zahlungsfrist beträgt 4 Wochen ab Annahmebestätigung der Mitgliedschaft.
    </li>
    <li>
      Grundlage für die Mitgliedschaft ist das Bekenntnis zur freiheitlichen demokratischen Grundordnung sowie weltanschauliche Toleranz. Einer Aufnahme in den Förderverein steht insbesondere entgegen:
    </li>
    <ol type="a">
      <li>
        die Mitgliedschaft, der Beitritt oder die Zugehörigkeit zu einer für verfassungswidrig erklärten Partei oder Vereinigung oder,
      </li>
      <li>
        die Mitgliedschaft, der Beitritt oder die Zugehörigkeit zu einer nicht verbotenen Partei oder sonstigen Vereinigungen oder Gruppierungen, die mit der freieheitlichen demokratischen Grundordnung unvereinbare Ziele verfolgt
      </li>
    </ol>
	</ol>

	<h3>§7 Beiträge</h3>
	<ol>
    <li>
      Die Mitglieder zahlen einen Jahresbeitrag. Die Höhe wird durch die Mitgliederversammlung des Fördervereins festgelegt.
    </li>
    <li>
      Der Jahresbeitrag ist im ersten Quartal des Jahres im Voraus zu zahlen.
    </li>
	</ol>

	<h3>§8 Beendigung der Mitgliedschaft</h3>
	<ol>
    <li>
      Die Mitgliedschaft endet durch Tod, Kündigung, Streichung oder Ausschluss.
    </li>
    <li>
      Die Mitgliedschaft kann zum Ende eines jeden Monats mit einer Frist von vier Wochen schriftlich gekündigt werden.
    </li>
    <li>
      Der Ausschluss ist mit sofortiger Wirkung auszusprechen, wenn ein Mitglied gegen die Interessen des Fördervereins verstößt oder die bürgerlichen Ehrenrechte verliert.
    </li>
    <li>
      Der Ausschluss kann ausgesprochen werden, wenn ein Mitglied mit dem in der Mitgliederversammlung beschlossenen Beitrag länger als ein halbes Jahr nach Zahlungsfrist im Verzug ist oder keinerlei Aktivitäten zum Wohle des Vereins zeigt.
    </li>
    <li>
      Mit dem Ausscheiden erlöschen alle vermögensrechtlichen Ansprüche des Mitgliedes gegen den Förderverein.
    </li>
    <li>
      Beiträge für das laufende Jahr werden nicht zurück gezahlt, zum Zeitpunkt des Austrittes ausstehende 
    </li>
	</ol>

	<h3>§9 Organe des Fördervereins</h3>
	<ol>
    <li>
      Organe des Fördervereins sind:
    </li>
    <ol type="a">
      <li>
        Mitgliederversammlung
      </li>
      <li>
        Vorstand
      </li>
      <li>
        Beirat
      </li>
    </ol>
	</ol>

	<h3>§10 Mitgliederversammlung</h3>
	<ol>
    <li>
      Die Mitgliederversammlung setzt sich aus den Fördervereinsmitgliedern zusammen und ist das oberste Beschlussorgan.
    </li>
    <li>
      Die Mitgliederversammlung wird vom Fördervereinsvorsitzenden oder im Verhinderungsfalle von seinen Vertreter geleitet und ist mindestens einmal jährlich unter Bekanntgabe der vorgesehenen Tagesordnung mit einer 14 tägigen Frist einzuberufen. Die Einberufung erfolgt schriftlich auf Beschluss des Vorstandes.
    </li>
    <li>
      Auf Antrag von mindestens einem Drittel der Mitglieder ist innerhalb einer vierwöchigen Frist eine außerordentliche Mitgliederversammlung einzuberufen. In dem Antrag müssen die zu behandelnden Tagesordnungspunkte bezeichnet sein.
    </li>
    <li>
      Die Aufgaben der Mitgliederversammlung sind:
    </li>
    <ol type="a">
      <li>
        Beratung und Beschlussfassung über eingebrachte Anträge,
      </li>
      <li>
        die Wahl und die Entlastung der Mitglieder des Vorstandes,
      </li>
      <li>
        die Wahl und die Entlastung der Mitglieder des Beirates,
      </li>
      <li>
        die Festsetzung des Mitgliedsbeitrages,
      </li>
      <li>
        die Genehmigung der Jahresrechnung,
      </li>
      <li>
        Beschlussfassung über Satzungsänderungen,
      </li>
      <li>
        Beschlussfassung über die Verleihung der Ehrenmitgliedschaft,
      </li>
      <li>
        Entscheidung von Beschwerden der Mitglieder gegen den Vorstand,
      </li>
      <li>
        Beschlussfassung über die Auflösung des Fördervereins.
      </li>
    </ol>
	</ol>

	<h3>§11 Verfahrensordnung für die Mitgliederversammlung</h3>
	<ol>
    <li>
      Die Mitgliederversammlung ist beschlussfähig, wenn sie ordnungsgemäß eingeladen wurde und mindestens ein Drittel der Mitglieder anwesend ist.
    </li>
    <li>
      Die Mitgliederversammlung beschließt mit einfacher Mehrheit der abgegebenen Stimmen, Stimmengleichheit bedeutet Ablehnung. Satzungsänderungen bedürfen der Mehrheit von zwei Drittel der abgegebenen Stimmen. Abstimmungen erfolgen im Grundsatz offen. Die Mitgliederversammlung kann auf Antrag eines Mitgliedes beschließen, geheim abzustimmen.
    </li>
    <li>
      Satzungsänderungen, welche die Gemeinnützigkeit des Fördervereins in Frage stellen, sind unzulässig.
    </li>
    <li>
      Über die Mitgliederversammlung ist ein Protokoll anzufertigen, dessen Richtigkeit vom Schriftführer und dem Vorsitzenden zu bestätigen ist.
    </li>
    <li>
      Jedes Mitglied ist berechtigt, seine Anträge zu Protokoll zu geben.
    </li>
	</ol>

	<h3>§12 Vorstand</h3>
	<ol>
    <li>
      Der Vorstand besteht aus dem Vorsitzenden, dem stellvertretenden Vorsitzenden, dem Schriftführer, dem Kassenführer und einem weiteren Mitglied, mindestens 3 Vorstandsmitglieder müssen aktive Feuerwehrleute sein.
    </li>
    <li>
      Die Rechtsvertretung des Vereins wird durch die in den Vorstand gewählten: Vereinsvorsitzender, stellvertretender Vorsitzender, Kassenführer und Schriftführer vorgenommen. Jeder ist alleinvertretungsberechtigt.
    </li>
    <li>
      Der Vorstand führt die Geschäfte des Fördervereins nach den Beschlüssen und Richtlinien der Mitgliederversammlung ehrenamtlich. Er hat die Beschlüsse zu verwirklichen und die Mitglieder angemessen über die Fördervereinsangelegenheiten zu unterrichten. Der Vorstand bleibt bis zur Neuwahl im Amt.
    </li>
    <li>
      Die Vorstandsmitglieder werden von der Mitgliederversammlung jeweils auf die Dauer von 2 Jahren gewählt.
    </li>
    <li>
      Der Vorsitzende lädt die Mitglieder zu der Mitgliederversammlung ein und leitet die Versammlung. Er beruft die Vorstandssitzungen ein und leitet diese. Über die Vorstandssitzungen ist ein Protokoll anzufertigen und vom Vorsitzenden zu unterzeichnen.
    </li>
    <li>
      Der Vorstand fasst seine Beschlüsse mit der Mehrheit seiner gewählten Mitglieder. Beschlussfassung auf schriftlichen Weg ist zulässig.
    </li>
    <li>
      Mitglieder des Vorstandes müssen das 18.Lebensjahr vollendet haben.
    </li>
	</ol>

	<h3>§13 Der Beirat</h3>
	<ol>
    <li>
      Beim Vorstand des Fördervereins wird ein Beirat mit bis zu vier Mitgliedern gebildet. Ihm soll der Wehrleiter der Feuerwehr vorstehen. Der Vorstand des Fördervereins und der Vorsitzende des Beirates ernennen die weiteren Mitglieder und berufen diese ab.Der Vorstand fasst seine Beschlüsse mit der Mehrheit seiner gewählten Mitglieder. Beschlussfassung auf schriftlichen Weg ist zulässig.
    </li>
    <li>
      Der Beirat berät den Vorstand fachlich in allen organisatorischen und finanziellen Fragen. Zwei Mitgliedern des Fördervereins, die nicht im geschäftsführenden Vorstand tätig sind und von der Mitgliederversammlung zu benennen sind, obliegt die Kassenprüfung.
    </li>
	</ol>

	<h3>§14 Auflösung des Fördervereins</h3>
	<ol>
    <li>
      Die Auflösung des Fördervereins kann nur durch eine Mitgliederversammlung beschlossen werden, in der mindestens zwei Drittel aller ordentlichen Mitglieder anwesend sind. Sie bedarf der Mehrheit von zwei Dritteln der abgegebenen Stimmen.
    </li>
    <li>
      Ist eine zu diesem Zwecke einberufene Mitgliederversammlung nicht beschlussfähig, so kann eine binnen 14 Tagen erneut einzuberufende Versammlung, auch bei Anwesenheit einer geringen Zahl von Mitgliedern, mit der Mehrheit von zwei Dritteln der abgegebenen Stimmen die Auflösung beschließen.
    </li>
    <li>
      Falls die Mitgliederversammlung nichts anderes beschließt, sind der Vorsitzende und sein Vertreter gemeinsam Liquidatoren.
    </li>
    <li>
      Über die Verwendung des Vereinsvermögens entscheidet die Mitgliederversammlung, die den Auflösungsbeschluss fasst, mit einfacher Mehrheit. Das nach Abdeckung aller Verbindlichkeiten verbleibende Restvermögen darf nur zu den in §3 bestimmten Zielen des Fördervereins verwendet werden.
      <br>Bei Auflösung des Vereins oder durch Wegfall steuerbegünstigter Zwecke fällt das Vermögen des Vereins an den
      <br><strong>Förderverein zur Rettung der Schlosskirche Molsdorf e.V.</strong>
      <br><strong>Wiesengasse 2</strong>
      <br><strong>99094 Erfut-Molsdorf</strong>
      <br>der es ausschließlich und unmittelbar zur Unterhaltung / Sanierung der Schlosskirche St. Trinitatis zu Molsdorf zu verwenden hat.
    </li>
	</ol>

</section>

<section></section>
